<table class="table-bordered sortable">
  <tr>
    <td><h4>name</h4></td>
    <td width="5%"><h4>runs</h4></td>
    <td width="5%"><h4>hr</h4></td>
    <td width="5%"><h4>rbi</h4></td>
    <td width="5%"><h4>sb</h4></td>
    <td width="5%"><h4>obp</h4></td>
    <td width="5%"><h4>slg</h4></td>
    <td width="5%"><h4>ip</h4></td>
    <td width="5%"><h4>qs</h4></td>
    <td width="5%"><h4>sv</h4></td>
    <td width="5%"><h4>era</h4></td>
    <td width="5%"><h4>whip</h4></td>
    <td width="5%"><h4>k9</h4></td>
    <td width="3%"><h4>W</h4></td>
    <td width="3%"><h4>L</h4></td>
  </tr>
  <% @members.order(:espn_id).each do |m| %>
      <tr id="zscores">
        <td class="member-name"><%= m.team_name %></td>
        <td class="zscore"><%= number_with_precision(@matchups[m.espn_id][0], :precision => 2) %></td>
        <td class="zscore"><%= number_with_precision(@matchups[m.espn_id][1], :precision => 2) %></td>
        <td class="zscore"><%= number_with_precision(@matchups[m.espn_id][2], :precision => 2) %></td>
        <td class="zscore"><%= number_with_precision(@matchups[m.espn_id][3], :precision => 2) %></td>
        <td class="zscore"><%= number_with_precision(@matchups[m.espn_id][4], :precision => 2) %></td>
        <td class="zscore"><%= number_with_precision(@matchups[m.espn_id][5], :precision => 2) %></td>
        <td class="zscore"><%= number_with_precision(@matchups[m.espn_id][6], :precision => 2) %></td>
        <td class="zscore"><%= number_with_precision(@matchups[m.espn_id][7], :precision => 2) %></td>
        <td class="zscore"><%= number_with_precision(@matchups[m.espn_id][8], :precision => 2) %></td>
        <td class="zscore"><%= number_with_precision(@matchups[m.espn_id][9], :precision => 2) %></td>
        <td class="zscore"><%= number_with_precision(@matchups[m.espn_id][10], :precision => 2) %></td>
        <td class="zscore"><%= number_with_precision(@matchups[m.espn_id][11], :precision => 2) %></td>
        <td><%= @matchups[m.espn_id][12] %></td>
        <td><%= @matchups[m.espn_id][13] %></td>
      </tr>
  <% end %>
</table>